body, html {
    background: #151b27;
    color :#f5f5f5;
    height : 100%;
}
.contenedor {
    margin : 0px auto;
    width : 100%;
    height: 100%;
    min-width : 800px;   
}

nav {
    margin-top : 20px;
}
.panel-izq {
    width: 250px;
    min-width: 250px;
    max-width: 250px;
    background-color: #1c222b;
    display : inline-block;
    padding : 15px;
    height:100%;
    border-right : 1px solid #1b1b1b;
}
.panel-der{
    display : inline-block;
    padding : 15px;
}
.contenido {
    margin: 0;
}
footer {
    
    text-align : center;
    bottom : 0;
    height : 40px;
    
    background : black;
    float:right;
    width :100%;
  }

nav ul {
    text-decoration : none;
    list-style : none;
    margin-left: -30px;
    
}
nav ul li {

    padding : 15px 25px;

}
nav ul li:hover{
    background : #151b27;
    border-radius : 5px;


}
nav ul li a{

    text-decoration : none;


}